#contact a {
  width: fit-content;
  padding: 1rem 0 1rem 0;
}

#contact {
  padding-top: 3rem;
}

.contact-text {
  margin: auto 5rem auto 5rem;
  font-size: 1.35rem;
}

.mail-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 20vw;
  height: fit-content;
  margin-left: 2rem;
  border-radius: 16px;
  border: 1px solid #55B8E1;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 20px 0px #55B8E1, inset 0 0 20px 0px #55B8E1;
}

.contact-button {
  text-align: center;
  width: fit-content;
}

@media (max-width: 580px) {
  .contact-text {
    margin: auto 2rem auto 2rem;
    font-size: 1.35rem;
  }
  .mail-img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 35vw;
    height: fit-content;
    margin-left: 1rem;
    border-radius: 16px;
    border: 1px solid #55B8E1;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    box-shadow: 0 0 20px 0px #55B8E1, inset 0 0 20px 0px #55B8E1;
  }
}