.counter-ele *{
    text-align: center;
}

#counter{
    font-size: 1.5rem;
    background-image: url('counterimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 3em;
    padding-bottom: 3em;
    z-index:-1;
}

.counter-ele{
    background-color: rgba(19, 57, 82, 0.829);
    padding: 1rem;
    box-shadow:0px 0px 30px 15px rgba(22, 61, 87, 0.815);
    border-radius: 10%;
}