.videoclass{
    width: 100vw;
    height: 100vh;
    object-fit:fill;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


.mycontent{
  font-weight: 800;
  position: relative;
  top: 25vh;
  margin: 0 auto;
  color: #fff;
  background-color: #997d309c;
  box-shadow: 0px 0px 20px 5px var(--yellow1);
  width: fit-content;
  display: flex;
  padding: 3vw;
  justify-content: center;
  flex-direction: column;
  border-radius: 5% 5% 5% 5%;
  backdrop-filter: blur(4px);
  transition: 0.5s ease-in-out;
}

.mycontent i {
  color: rgb(255, 255, 255);
}

.mycontent:hover{
  text-shadow:
      0 0 1px #fff,
      0 0 8px rgb(255, 251, 0);
  animation: flicker2 1.5s infinite alternate;
  box-shadow:0px 0px 20px 5px rgb(255, 245, 158),
  0px 0px 40px 15px var(--yellow1);
}

@keyframes flicker2 {
    
  100%{
    text-shadow:
      0 0 2px #fff,
      0 0 14px rgb(255, 251, 0);
  }
  
  0% {        
      text-shadow:
      0 0 1px #fff,
      0 0 8px rgb(255, 251, 0);
  }    
}
