.skillcard * {
  text-align: center;
}

.skillcard i {
  font-size: 3rem;
  color: rgb(198, 137, 223);
}

.skill-title {
  margin-top: 2rem;
  font-size: 1.75rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.skill-content {
  font-family: "Ubuntu Mono", monospace;
  padding-top: 0.65rem;
}

.skillcard {
  transition: 0.5s ease-in-out;
  padding: 3rem;
  border: 2px solid var(--lightblue);
  border-radius: 32px;
  margin: 1rem;
  height: 90%;
  box-shadow: 0px 0px 4px 3px var(--lightblue),
    0px 0px 6px 4px rgb(198, 137, 223);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.skillcard:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 3px 2px var(--lightblue),
    0px 0px 7px 5px rgb(198, 137, 223);
    transform: translateY(-10px);
}

#skills {
  padding-top: 3rem;
}

.skillka-title {
  margin-bottom: 2rem;
}
